@import url("https://use.fontawesome.com/37471687aa.js");

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: sans-serif;
  font-size: 10px;
  padding-left: 7%;
}

.container {
  margin: 0 auto;
  width: 420px;
  height: 10%;
  background: #DEDEDE;
}

nav {
  margin: 0 auto;
  padding: 10px 0 15px 15px;
  width: 420px;
  background: black;
}

.fa-chevron-left.fa-inverse.fa-2x {
  padding-top: 2%;
}

.restaurant-list {
  margin: auto;
}

.location {
  border-bottom: 1px solid black;
  padding: 1%;
  white-space: nowrap;
}

.content {
  display: inline-block;
  padding-bottom: 3%;
  padding-top: 3%;
  padding-left: 5%;
}

.location:hover {
  background-color: gray;
}

.arrow {
  float: right;
  margin-top: 5%;
}

h1, h3 {
  line-height: 1.3em;
}

.content h1 {
  font-size: 16px;
  font-weight: bold;
}

.content h3{
  font-size: 14px;
  font-weight: normal;
}
